<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>userlogin</title>
</head>
<body>

    {% for message in messages %}
    <div class="alert alert-{{message.tags}}alert-dismissable fade show" role="alert">
        <strong>Message:</strong>{{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    <h3>WELCOME</h3>

    {% if user.is_authenticated %}
    <h3>Hello {{fname}}</h3>
    <h4>You're successfully loggedin</h4>

    
    <button type="submit"><a href="/signout">Signout</a></button>
    {% else %}
    <button type="submit"><a href="/signin">Sigin</a></button>
    <button type="submit"> <a href="/register">Register</a></button>
    
    {% endif %}
</body>
</html>